<body>
	<p>
	This package supplies a model for use with the BasicDiagramBuilder.  Instead of just adding plain java objects to the 
	representations map, you can add Nouns and Relationships using the model in this package.
	</p>
</body>