<body>
	<p>
	This package contains a builder system which allows you to construct a diagram by adding elements through java.
	</p>
	<p>
	The BasicDiagramBuilder is the key element here, allowing you to add objects to the diagram via the insertion interface.
	</p><p>
	BasicDiagramBuilder is subclassed in two ways:  one to add the krmodel functionality, and once to add java functionality.
	</p>
</body>