<body>
	<p>
	The formats package provides ways to convert from the krmodel representation of knowledge to the ADL model of the knowledge
	via various translations which will be understood by people looking at the diagram.  E.g. nouns become glyphs, relationships
	become connections etc.
	</p>
</body>